// _variables.scss
$primary-tiffany: #0AB697;
$secondary-tiffany: #128C7E;
$accent-tiffany: #6DD5ED;

$primary-pink: #FFC7D6;
$secondary-pink: #FF9AA2;
$accent-pink: #FEA47F;

// Тематические CSS переменные
:root {
  // Светлая тема (на основе розовой палитры)
  --primary-color: #FFC7D6;
  --secondary-color: #FF9AA2;
  --background-color: #ffffff;
  --text-color: #2C3333;
  --hover-color: rgba(255, 199, 214, 0.1);

  // Темная тема (на основе тиффани палитры)
  --dark-primary-color: #0AB697;
  --dark-background-color: #181818;
  --dark-text-color: #D5F6ED;
  --dark-hover-color: rgba(10, 191, 191, 0.1);
}

[data-theme="dark"] {
  --primary-color: var(--dark-primary-color);
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --hover-color: var(--dark-hover-color);
}
