.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: #212121;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .navLinks {
    display: flex;
    gap: 1rem;
  }

  a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover,
    &.active {
      background-color: #3e3e3e;
    }

    /* Фокус (клик) для светлой темы */
    &:focus {
      border: 2px solid var(--dark-primary-color);
      box-shadow: 0 0 8px var(--dark-primary-color);
    }
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
  }
}


/* Фокус (клик на ссылку) для темной темы */
[data-theme="dark"] .header a:focus {
  border: 2px solid var(--secondary-color);
  box-shadow: 0 0 8px var(--secondary-color);
}
